mixin bg-card
  .bg-card(class!=attributes.class)
    .bg-card__background
      .container.container_size_1
        .bg-card__color
        .bg-card__image
    .container.container_size_1
      .bg-card__container
        .bg-card__centered
          if block
            .bg-card__text
              block