mixin cta-form(subh, h, button, formName, inputClass, goal)
  .cta-form(class=attributes.class)
    if (h || subh)
      .cta-form__heading
        if (subh)
          span.cta-form__subh!= subh
        if (h)
          span.cta-form__h!= h
    .cta-form__form
      form.js-form__ajax(action='php/send.php', method='POST', data-goal!=goal)
        <?php getUTM($utmLabels); ?>
        input(type='hidden', name='formname', value!=formName)
        .cta-form__item
          input.input(type='text',  name='name', placeholder='Ваше имя', class=inputClass)
        .cta-form__item
          input.input(type='tel',  name='phone', placeholder='Ваше телефон', class=inputClass)
        .cta-form__item.cta-form__item_button
          button.button!= button
    if block
      span.cta-form__hint
        block
