mixin photo-card(heading)
  .photo-card(class=attributes.class)
    .photo-card__photo
    if (heading || block)
      .photo-card__content
        .photo-card__centered
          if heading
              span.photo-card__heading!= heading
          if block
            .photo-card__text
              block
