mixin price-card(num, practice, cost)
  .price-card(class=attributes.class)
    .price-card__container
      span.price-card__num!= num
      span.price-card__practice!= practice
      .price-card__cost
        span.price-card__sum #{cost}&nbsp;
        span.price-card__currency р