mixin question-card(heading)
  .question-card(class!=attributes.class)
    .question-card__container
      .question-card__heading
        span.question-card__h!= heading
      if block
        .question-card__text
          block
