mixin thumbnail(src, thumbnail, alt)
  .thumbnail(class=attributes.class)
    if (src)
      a.thumbnail__link.js-popup__opener_image(href!=src)
        img.thumbnail__thumbnail(src!=thumbnail, alt!=alt)
    else
      span.thumbnail__link
        img.thumbnail__thumbnail(src!=thumbnail, alt!=alt)