/*----------------------------------------------------------------------------------------------------------------------
    addr-card
----------------------------------------------------------------------------------------------------------------------*/
.addr-card {
  position: relative;

  display: inline-block;

  @include breakpoint($screen-3) {
    text-align: left;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
  }
}

.addr-card_type_2 {
  &:after {
  }
}

.addr-card_icon_1 {
  padding-left: 16px + 10px;
  .addr-card_type_2 & {
    padding-left: 16px + 12px;
  }

  &:after {
    width: 16px;
    height: 22px;

    @include icon('../img/addr-card-icon-1-screen-1.png');
  }
}

.addr-card_icon_2 {
  padding-left: 22px + 10px;
  .addr-card_type_2 & {
    padding-left: 22px + 12px;
  }

  &:after {
    top: -3px;

    width: 22px;
    height: 22px;

    @include icon('../img/addr-card-icon-2-screen-1.png');
  }
}

.addr-card_icon_3 {
  padding-left: 20px + 10px;
  .addr-card_type_2 & {
    padding-left: 20px + 12px;
  }

  &:after {
    width: 20px;
    height: 20px;

    @include icon('../img/addr-card-icon-3-screen-1.png');
  }
}

.addr-card__text {
  font-size: 18px;
  font-weight: 700;

  @include breakpoint($screen-2) {
    font-size: 15px;
  }
  @include breakpoint($screen-3) {
    line-height: 1;
  }
  @include breakpoint($screen-4) {
    font-size: 16px;
  }
  .addr-card_type_2 & {
    font-weight: 500;

    @include breakpoint($screen-2) {
      font-size: 18px;
    }
  }
  span {
    font-weight: 300;
    font-style: normal;
  }
  a {
    color: $color-4;
  }
}

.addr-card__phone.addr-card__phone {
  text-decoration: none;
  letter-spacing: .08em;

  color: inherit;
  .addr-card_type_2 & {
    letter-spacing: .1em;
  }
  &:hover {
    text-decoration: underline;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /addr-card
----------------------------------------------------------------------------------------------------------------------*/
