/*----------------------------------------------------------------------------------------------------------------------
    bg-card
----------------------------------------------------------------------------------------------------------------------*/
$bg-card-background-screen-1: (
  '../img/bg-card/bg-card-background-1-screen-1.png'
  '../img/bg-card/bg-card-background-2-screen-1.png'
  '../img/bg-card/bg-card-background-3-screen-1.png'
  '../img/bg-card/bg-card-background-4-screen-1.png'
  '../img/bg-card/bg-card-background-5-screen-1.png'
  '../img/bg-card/bg-card-background-6-screen-1.png'
  '../img/bg-card/bg-card-background-7-screen-1.png'
  '../img/bg-card/bg-card-background-8-screen-1.png'
  '../img/bg-card/bg-card-background-9-screen-1.png'
);
$bg-card-background-screen-1-width: (
  360px
  345px
  349px
  376px
  395px
  355px
  347px
  364px
  345px
);
$bg-card-background-screen-1-offset: (
    80px
    64px
    69px
    97px
    116px
    75px
    67px
    85px
    66px
);
$bg-card-background-screen-1-height: 120px;
$bg-card-background-screen-2: (
    '../img/bg-card/bg-card-background-1-screen-2.png'
    '../img/bg-card/bg-card-background-2-screen-2.png'
    '../img/bg-card/bg-card-background-3-screen-2.png'
    '../img/bg-card/bg-card-background-4-screen-2.png'
    '../img/bg-card/bg-card-background-5-screen-2.png'
    '../img/bg-card/bg-card-background-6-screen-2.png'
    '../img/bg-card/bg-card-background-7-screen-2.png'
    '../img/bg-card/bg-card-background-8-screen-2.png'
    '../img/bg-card/bg-card-background-9-screen-2.png'
);
$bg-card-background-screen-2-width: (
    420px
    402px
    409px
    438px
    460px
    415px
    405px
    424px
    404px
);
$bg-card-background-screen-2-offset: (
    79px
    63px
    69px
    98px
    121px
    75px
    66px
    84px
    65px
);
$bg-card-background-screen-2-height: 140px;
$bg-card-background-screen-3: (
    '../img/bg-card/bg-card-background-1-screen-3.png'
    '../img/bg-card/bg-card-background-2-screen-3.png'
    '../img/bg-card/bg-card-background-3-screen-3.png'
    '../img/bg-card/bg-card-background-4-screen-3.png'
    '../img/bg-card/bg-card-background-5-screen-3.png'
    '../img/bg-card/bg-card-background-6-screen-3.png'
    '../img/bg-card/bg-card-background-7-screen-3.png'
    '../img/bg-card/bg-card-background-8-screen-3.png'
    '../img/bg-card/bg-card-background-9-screen-3.png'
);
$bg-card-background-screen-3-width: (
    854px
    861px
    854px
    861px
    854px
    861px
    854px
    861px
    854px
);
$bg-card-background-screen-3-offset: (
    490px
    483px
    490px
    483px
    490px
    483px
    490px
    483px
    490px
);
$bg-card-background-screen-3-height: 200px;

.bg-card {
  overflow: hidden;

  @include breakpoint($screen-2) {
    position: relative;

    height: $bg-card-background-screen-2-height;
  }
  @include breakpoint($screen-3) {
    height: $bg-card-background-screen-3-height;
  }
  & > .container {
    @include breakpoint($screen-2) {
      height: 100%;
    }
  }
}

.bg-card_side_left {
}

.bg-card_side_right {
}

.bg-card__background {
  display: block;

  height: $bg-card-background-screen-1-height;

  @include breakpoint($screen-2) {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;
  }
  & > .container {
    position: relative;

    height: 100%;
  }
}

.bg-card__color {
  position: absolute;
  z-index: 1;

  width: 99999px;
  height: 100%;

  background-color: $color-6;
  .bg-card_side_left & {
    left: -99999px;
  }
  .bg-card_side_right & {
    right: -99999px;
  }
}

.bg-card__image {
  position: absolute;
  z-index: 2;

  height: 100%;

  background: transparent 50% 50% no-repeat;

  @for $i from 1 through 9 {
    .bg-card_background_#{$i} & {
      width: nth($bg-card-background-screen-1-width, $i);

      background-image: url(nth($bg-card-background-screen-1, $i));
      @include breakpoint($screen-2) {
        width: nth($bg-card-background-screen-2-width, $i);

        background-image: url(nth($bg-card-background-screen-2, $i));
      }
      @include breakpoint($screen-3) {
        width: nth($bg-card-background-screen-3-width, $i);

        background-image: url(nth($bg-card-background-screen-3, $i));
      }
    }

    .bg-card_background_#{$i}.bg-card_side_left & {
      left: nth($bg-card-background-screen-1-offset, $i) * -1;
      @include breakpoint($screen-2) {
        left: nth($bg-card-background-screen-2-offset, $i) * -1;
      }
      @include breakpoint($screen-3) {
        left: nth($bg-card-background-screen-3-offset, $i) * -1;
      }
    }

    .bg-card_background_#{$i}.bg-card_side_right & {
      right: nth($bg-card-background-screen-1-offset, $i) * -1;
      @include breakpoint($screen-2) {
        right: nth($bg-card-background-screen-2-offset, $i) * -1;
      }
      @include breakpoint($screen-3) {
        right: nth($bg-card-background-screen-3-offset, $i) * -1;
      }
    }
  }
}

.bg-card__container {
  padding: 26px 0;

  @include breakpoint($screen-2) {
    display: table;

    width: 100%;
    height: 100%;
    padding: 0;
  }
  .bg-card_side_left & {
    @include breakpoint($screen-2) {
      padding-left: 354px;
    }
    @include breakpoint($screen-3) {
      padding-left: 468px;
    }
  }
}

.bg-card__centered {
  @include breakpoint($screen-2) {
    display: table-cell;

    height: 100%;

    vertical-align: middle;
  }
}

.bg-card__text {
  text-transform: uppercase;

  font-size: 13px;
  font-weight: 700;
  line-height: (24px / 13px);

  @include breakpoint($screen-2) {
    font-size: 15px;
  }
  @include breakpoint($screen-3) {
    font-size: 21px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /bg-card
----------------------------------------------------------------------------------------------------------------------*/
