/*----------------------------------------------------------------------------------------------------------------------
    br
----------------------------------------------------------------------------------------------------------------------*/
.br {
  display: block;
}

.br_display_screen-2 {
  @include breakpoint($screen-2) {
    display: inline-block;
    width: .25em;
  }
}

.br_display_screen-3 {
  @include breakpoint($screen-3) {
    display: inline-block;
    width: .25em;
  }
}

.br_display_screen-4 {
  @include breakpoint($screen-4) {
    display: inline-block;
    width: .25em;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /br
----------------------------------------------------------------------------------------------------------------------*/