/*----------------------------------------------------------------------------------------------------------------------
    button
----------------------------------------------------------------------------------------------------------------------*/
.button {
  display: inline-block;

  padding: 15px 1em;

  transition: all .15s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: .14em;
  text-transform: uppercase;

  color: $color-2;
  border: none;
  background-color: $color-4;

  font-size: 12px;
  font-weight: 500;
  line-height: 1;

  @include breakpoint($screen-2) {
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;

    background-color: darken($color-4, 7.5);
  }
  &:active {
    background-color: darken($color-4, 10);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /button
----------------------------------------------------------------------------------------------------------------------*/
