/*----------------------------------------------------------------------------------------------------------------------
    coach-slider
----------------------------------------------------------------------------------------------------------------------*/
.coach-slider {
  position: relative;

  @extend .photo-slider;
  @include breakpoint($screen-2) {
  }
}

.coach-slider__list {
  position: relative;
  z-index: 2;

  width: 260px;
  margin: 0 auto;

  @include breakpoint($screen-2) {
    width: 320px;
  }
  @include breakpoint($screen-3) {
    width: 500px;
  }
  @include breakpoint($screen-4) {
    width: 580px;
  }
}

.coach-slider__slide {
  width: 260px;
  margin: 0 20px;

  outline: none;

  @include breakpoint($screen-2) {
    width: 320px;
  }
  @include breakpoint($screen-3) {
    width: 500px;
  }
  @include breakpoint($screen-4) {
    width: 580px;
  }
}

.coach-slider__navs {
  position: absolute;
  top: -50px;

  width: 100%;

  @include breakpoint($screen-2) {
    top: -23px;
    right: 20px;

    width: 80px;
  }
  @include breakpoint($screen-3) {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.coach-slider__nav {
  padding: 0 !important;

  font-size: 0;

  @extend .photo-slider__nav;
  &:before {
    @include breakpoint($screen-3) {
      margin-top: -21px;
    }
  }
}

.coach-slider__nav_prev {
  @extend .photo-slider__nav_prev;
  @include breakpoint($screen-2) {
    left: 0;
  }
  @include breakpoint($screen-3) {
    left: -45px;
  }
}
.coach-slider__nav_next {
  @extend .photo-slider__nav_next;
  @include breakpoint($screen-2) {
    right: 0;
  }
  @include breakpoint($screen-3) {
    right: -45px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /coach-slider
----------------------------------------------------------------------------------------------------------------------*/
