/*----------------------------------------------------------------------------------------------------------------------
    cta-form
----------------------------------------------------------------------------------------------------------------------*/
.cta-form {
  &:after {
    z-index: 1;
  }
}

.cta-form_type_1 {
}

.cta-form_type_2 {
  @include breakpoint($screen-2) {
    position: relative;

    width: 400px;
    margin: 0 auto;
  }
  @include breakpoint($screen-3) {
    width: 850px;
  }
  &:after {
    @include breakpoint($screen-2) {
      position: absolute;
      top: 36px;

      width: 400px;
      height: 271px;

      content: '';

      @include icon('../img/cta-form-type-2-screen-2.png');
      @include breakpoint($screen-3) {
        top: 14px;

        width: 850px;
        height: 116px;

        @include icon('../img/cta-form-type-2-screen-3.png');
      }
    }
  }
}

.cta-form_type_3 {
  @include breakpoint($screen-2) {
    position: relative;

    width: 400px;
    margin: 0 auto 38px;
  }
  @include breakpoint($screen-3) {
    width: 910px;
    margin-bottom: auto;
  }
  &:after {
    @include breakpoint($screen-2) {
      position: absolute;
      top: 17px;

      width: 400px;
      height: 287px;

      content: '';

      @include icon('../img/cta-form-type-3-screen-2.png');
    }
    @include breakpoint($screen-3) {
      width: 910px;
      height: 64px;

      @include icon('../img/cta-form-type-3-screen-3.png');
    }
  }
}

.cta-form_type_4 {
  @extend .cta-form_type_2;
  &:after {
    @include breakpoint($screen-2) {
      top: 47px;
    }
    @include breakpoint($screen-3) {
      top: 19px;

      @include icon('../img/cta-form-type-4-screen-3.png');
    }
  }
}

.cta-form__heading {
  margin-bottom: 20px;
  .cta-form_type_1 & {
    @include breakpoint($screen-3) {
      margin-bottom: 18px;
    }
  }
  .cta-form_type_2 & {
    @include breakpoint($screen-2) {
      margin-bottom: 15px;
    }
    @include breakpoint($screen-3) {
      text-align: center;
    }
  }
}

.cta-form__subh {
  display: block;

  margin-bottom: .5em;

  text-align: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;

  @include breakpoint($screen-2) {
    margin-bottom: .25em;
  }
  @include breakpoint($screen-3) {
    display: inline-block;

    margin-right: .25em;

    letter-spacing: 0;

    font-size: 20px;
    font-weight: 700;
  }
}

.cta-form__h {
  display: block;

  text-align: center;

  font-weight: 700;

  .cta-form_type_1 & {
    text-align: left;
    letter-spacing: .015em;

    font-size: 23px;
    font-weight: 300;
    line-height: 1.13;

    @include breakpoint($screen-2) {
      font-size: 27px;
    }
  }
  .cta-form_type_2 &, .cta-form_type_4 & {
    letter-spacing: .01em;

    font-size: 19px;
    line-height: 1.4736842105;

    @include breakpoint($screen-2) {
      font-size: 22px;
    }
  }
  .cta-form_type_2 & {
    @include breakpoint($screen-3) {
      display: inline-block;

      letter-spacing: 0;

      font-size: 20px;
    }
  }
  .cta-form_type_3 & {
    font-size: 21px;
    line-height: 1.2380952381;

    @include breakpoint($screen-2) {
      font-size: 30px;
    }
  }
  .cta-form_type_4 & {
    @include breakpoint($screen-3) {
      font-size: 26px;
    }
  }
}

.cta-form__form {
  position: relative;
  z-index: 2;

  margin-bottom: 25px;

  @include breakpoint($screen-3) {
    font-size: 0;
  }
  .cta-form_type_1 & {
    @include breakpoint($screen-3) {
      margin-bottom: 18px;
    }
  }
  .cta-form_type_2 & {
    @include breakpoint($screen-2) {
      margin-bottom: 31px;
      padding: 0 50px;
    }
    @include breakpoint($screen-3) {
      margin-bottom: 25px;
      padding: 0 35px;

      text-align: center;
    }
  }
  .cta-form_type_3 & {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      padding: 0 50px;
    }
    @include breakpoint($screen-3) {
      padding: 0 40px;

      text-align: center;
    }
  }
}

.cta-form__item {
  margin-bottom: 20px;

  @include breakpoint($screen-3) {
    display: inline-block;

    margin-right: 15px;
    margin-bottom: auto;

    vertical-align: middle;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-3) {
      margin-right: auto;
    }
  }
  & > .input {
    width: 100%;
  }
  .cta-form_type_1 & {
    @include breakpoint($screen-3) {
      width: 225px;
    }
  }
  .cta-form_type_2 & {
    @include breakpoint($screen-3) {
      width: 255px;
    }
  }
  .cta-form_type_3 & {
    @include breakpoint($screen-3) {
      width: 238px;
    }
  }
}

.cta-form__item_button {
  & > .button {
    width: 100%;
  }
  .cta-form_type_1 & {
    @include breakpoint($screen-3) {
      width: 167px;
    }
  }
  .cta-form_type_2 & {
    @include breakpoint($screen-3) {
      width: 230px;
    }
  }
  .cta-form_type_3 & {
    @include breakpoint($screen-3) {
      width: 320px;
    }
  }
}

.cta-form__hint {
  display: block;

  text-align: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  .cta-form_type_1 & {
    @include breakpoint($screen-3) {
      text-align: left;
    }
  }
}

.cta-form__phone {
  display: block;

  margin: .25em auto;

  text-decoration: none;

  color: inherit;

  font-size: 20px;
  font-weight: 700;
  .cta-form_type_2 & {
    @include breakpoint($screen-3) {
      display: inline-block;

      margin: auto .35em;

      vertical-align: middle;
    }
  }
  &:hover {
    text-decoration: underline;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /cta-form
----------------------------------------------------------------------------------------------------------------------*/
