/*----------------------------------------------------------------------------------------------------------------------
    footer
----------------------------------------------------------------------------------------------------------------------*/
.footer {
  padding: 40px 0;

  @include breakpoint($screen-4) {
    text-align: center;
  }
}

.footer__container {
  margin-bottom: 20px;

  @include breakpoint($screen-2) {
    margin-bottom: 30px;

    text-align: center;

    font-size: 0;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 40px;
  }
  @include breakpoint($screen-4) {
    display: inline-block;

    margin-right: 38px;
    margin-bottom: auto;

    vertical-align: top;
  }
}

.footer__item {
  margin-bottom: 20px;

  text-align: center;

  font-size: 14px;

  @include breakpoint($screen-2) {
    display: inline-block;

    margin-right: 25px;
    margin-bottom: auto;

    text-align: left;
    vertical-align: top;

    font-size: 13px;
  }
  @include breakpoint($screen-3) {
    margin-right: 50px;
  }
  @include breakpoint($screen-4) {
    margin-right: 38px;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      margin-right: auto;
    }
  }
  a {
    color: $color-4;
  }
}

.footer__phone.footer__phone {
  text-decoration: none;

  color: inherit;

  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

.footer__developer {
  display: block;

  text-align: center;

  font-size: 13px;
  line-height: 21px;

  @include breakpoint($screen-4) {
    display: inline-block;

    vertical-align: top;

    line-height: 1;
  }
  a {
    text-decoration: none;

    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /footer
----------------------------------------------------------------------------------------------------------------------*/
