/*----------------------------------------------------------------------------------------------------------------------
    header
----------------------------------------------------------------------------------------------------------------------*/
$header-height-screen-1: 85px;
$header-height-screen-2: 97px;

.header {
  height: $header-height-screen-1;
  padding-top: 16px;

  text-align: center;

  background-color: $color-2;

  font-size: 0;

  @include breakpoint($screen-2) {
    height: $header-height-screen-2;
    margin-bottom: 60px;
  }
}

.header__item {
  display: inline-block;

  vertical-align: middle;
}

.header__item_1 {
  margin-right: 31px;

  @include breakpoint($screen-2) {
    margin-right: 50px;
  }
  @include breakpoint($screen-3) {
    margin-right: 60px;
  }
  @include breakpoint($screen-4) {
    margin-right: 109px;
  }
}

.header__item_2 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 140px;
    margin-right: 45px;
  }
  @include breakpoint($screen-3) {
    margin-right: 45px;
  }
  @include breakpoint($screen-4) {
    width: 145px;
    margin-right: 74px;
  }
}

.header__item_3 {
  display: none;

  @include breakpoint($screen-3) {
    display: inline-block;

    width: 183px;
    margin-right: 45px;
  }
  @include breakpoint($screen-4) {
    width: 200px;
    margin-right: 56px;
  }
}

.header__item_4 {
  display: none;

  @include breakpoint($screen-2) {
    display: inline-block;

    width: 188px;
  }
  @include breakpoint($screen-4) {
    width: 195px;
  }
}

.header__item_5 {
}
/*----------------------------------------------------------------------------------------------------------------------
    /header
----------------------------------------------------------------------------------------------------------------------*/
