/*----------------------------------------------------------------------------------------------------------------------
    heading
----------------------------------------------------------------------------------------------------------------------*/
.heading {
  &:before {
    display: block;

    width: 30px;
    height: 27px;
    margin: 0 auto 13px;

    content: '';

    @include icon('../img/heading-icon-screen-1.png');
    @include breakpoint($screen-2) {
      width: 36px;
      height: 32px;
      margin-bottom: 25px;

      @include icon('../img/heading-icon-screen-2.png');
    }
  }
}

.heading__h {
  display: block;

  text-align: center;

  font-size: 21px;
  font-weight: 900;

  @include breakpoint($screen-2) {
    font-size: 32px;
  }
  @include breakpoint($screen-3) {
    font-size: 36px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /heading
----------------------------------------------------------------------------------------------------------------------*/
