/*----------------------------------------------------------------------------------------------------------------------
    info-slide
----------------------------------------------------------------------------------------------------------------------*/
.info-slide {
}

.info-slide__container {
}

.info-slide__text {
  margin-bottom: 35px;

  color: $color-5;

  font-size: 13px;
  line-height: 22px;

  @include breakpoint($screen-3) {
    font-size: 14px;
    line-height: 24px;
  }

  -webkit-font-smoothing: antialiased;
  p {
    margin: 0 0 1.25em;
    padding: 0;
    &:last-child {
      margin-bottom: auto;
    }
  }
}

.info-slide__images {
}

.info-slide__image {
  display: inline-block;

  height: 60px;
  margin-right: 5px;

  transition: box-shadow .25s;

  border: 2px solid #fafafa;
  box-shadow: 0 5px 14px rgba(0, 0, 0, .12);

  @include breakpoint($screen-2) {
    height: 69px;
    margin-right: 10px;
  }
  @include breakpoint($screen-3) {
    height: 114px;
    margin-right: 20px;
  }
  &:hover {
    box-shadow: 0 7px 18px rgba(0, 0, 0, .2);
  }
  &:last-child {
    margin-right: auto;
  }
  a {
    display: inline-block;
  }
  img {
    display: inline-block;

    width: auto;
    height: 56px;

    @include breakpoint($screen-2) {
      height: 65px;
    }
    @include breakpoint($screen-3) {
      height: 110px;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /info-slide
----------------------------------------------------------------------------------------------------------------------*/
