/*----------------------------------------------------------------------------------------------------------------------
    input
----------------------------------------------------------------------------------------------------------------------*/
.input {
  display: inline-block;

  height: 44px;
  padding: 0 1em;

  letter-spacing: .14em;
  text-transform: uppercase;

  color: $color-1;
  border: 1px solid transparent;
  background-color: $color-2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);

  font-family: $font-1;
  font-size: 14px;
  font-weight: 500;

  @include breakpoint($screen-2) {
    padding: 0 1.75em;
  }
  @include input-placeholder {
    opacity: 1;
    color: $color-1;
  }
  &.error {
    color: #f00;
    border-color: #f00;

    @include input-placeholder {
      color: #f00;
    }
  }
}

.input_background_grey {
  background-color: $color-3;
}

.input_shadow_none {
  box-shadow: none;
}
/*----------------------------------------------------------------------------------------------------------------------
    /input
----------------------------------------------------------------------------------------------------------------------*/
