/*----------------------------------------------------------------------------------------------------------------------
    logo
----------------------------------------------------------------------------------------------------------------------*/
.logo {
  display: inline-block;

  width: 220px;
  height: 48px;

  text-indent: -9999999px;

  @include icon('../img/logo-screen-1.png');
  @include breakpoint($screen-2) {
    width: 292px;
    height: 63px;

    @include icon('../img/logo-screen-2.png');
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /logo
----------------------------------------------------------------------------------------------------------------------*/
