/*----------------------------------------------------------------------------------------------------------------------
    menu-button
----------------------------------------------------------------------------------------------------------------------*/
$menu-button-width: 26px;
$menu-button-thickness: 3px;
$menu-button-border-radius: 2px;
$menu-button-gap: 6px;


.menu-button {
  width: $menu-button-width;
}

.menu-button__label {
  display: block;

  height: $menu-button-thickness*3 + $menu-button-gap*2;

  cursor: pointer;
  &:before, span, &:after {
    display: block;
    float: left;

    width: 100%;
    height: $menu-button-thickness;

    content: '';
    transition: all .3s ease;

    background-color: $color-4;
    border-radius: $menu-button-border-radius;
  }
  &:before, &:after {
    transition: all .3s ease;
  }
  &:before, span {
    margin-bottom: $menu-button-gap;
  }
  &:before {
    transform-origin: 0 0;
  }
  span {
    transition: all .3s ease .15s;
    transform-origin: 0 50%;
  }
  &:after {
    transform-origin: 0 100%;
  }

}

.menu-button__checkbox:checked + .menu-button__label {
  &:before, &:after {
    transition-delay: .15s;
  }
  &:before {
    transform: rotate(45deg);
  }
  span {
    transform: scaleX(0);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.menu-button__checkbox {
  display: none;
}
/*----------------------------------------------------------------------------------------------------------------------
    /menu-button
----------------------------------------------------------------------------------------------------------------------*/
