/*----------------------------------------------------------------------------------------------------------------------
    menu
----------------------------------------------------------------------------------------------------------------------*/
.menu {
}

.menu__button {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.menu__dropdown {
  position: absolute;
  z-index: 5;
  top: $header-height-screen-1;
  right: 0;
  left: 0;

  visibility: hidden;

  padding: 60px 0;

  transition: all .25s;
  transform: scale3d(1, 0, 1);
  transform-origin: 50% 0;
  text-align: center;

  opacity: 0;
  background-color: $color-7;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .28);

  @include breakpoint($screen-2) {
    top: $header-height-screen-2;

    visibility: visible;

    height: 60px;
    padding: 18px 0 0;

    transform: scale3d(1, 1, 1);

    opacity: 1;
    background-color: $color-8;
    box-shadow: none;
  }
  .active & {
    visibility: visible;

    transform: scale3d(1, 1, 1);

    opacity: 1;
  }
}

.menu__item {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: auto;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.menu__item_1 {
  margin-bottom: 40px;

  @include breakpoint($screen-2) {
    margin-bottom: auto;
  }
}

.menu__item_2 {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.menu__item_3 {
  @include breakpoint($screen-2) {
    display: none;
  }
}

.menu__item_4 {
  @include breakpoint($screen-2) {
    display: none;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /menu
----------------------------------------------------------------------------------------------------------------------*/
