/*----------------------------------------------------------------------------------------------------------------------
    navigation
----------------------------------------------------------------------------------------------------------------------*/
.navigation {
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin-bottom: 25px;

  @include breakpoint($screen-2) {
    display: inline-block;

    margin-right: 30px;
    margin-bottom: auto;
    padding: 3px 30px 3px 0;

    border-right: 1px solid #9c9fa3;
  }
  @include breakpoint($screen-3) {
    margin-right: 50px;
    padding: 3px 50px 3px 0;
  }
  @include breakpoint($screen-4) {
    margin-right: 65px;
    padding: 3px 65px 3px 0;
  }
  &:last-child {
    @include breakpoint($screen-2) {
      margin-right: auto;
      padding-right: 0;

      border-right-color: transparent;
    }
  }
}

.navigation__link {
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;

  color: inherit;
  border-bottom: 1px solid $color-1;

  font-size: 17px;

  @include breakpoint($screen-2) {
    letter-spacing: .09em;

    color: $color-2;
    border-bottom-color: transparent;

    font-size: 14px;
  }
  @include breakpoint($screen-3) {
    font-size: 16px;
  }
  &:hover {
    border-bottom-color: transparent;

    @include breakpoint($screen-2) {
      border-bottom-color: $color-2;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /navigation
----------------------------------------------------------------------------------------------------------------------*/
