/*----------------------------------------------------------------------------------------------------------------------
    photo-card
----------------------------------------------------------------------------------------------------------------------*/
$photo-card-photos-screen-1: (
  '../img/classes/1-screen-1.jpg'
  '../img/classes/2-screen-1.jpg'
  '../img/classes/3-screen-1.jpg'
);
$photo-card-photos-screen-2: (
    '../img/classes/1-screen-2.jpg'
    '../img/classes/2-screen-2.jpg'
    '../img/classes/3-screen-2.jpg'
);
$photo-card-photos-screen-4: (
    '../img/classes/1-screen-4.jpg'
    '../img/classes/2-screen-4.jpg'
    '../img/classes/3-screen-4.jpg'
);

.photo-card {
  background-color: $color-2;

  @extend %clearfix;
  @include breakpoint($screen-2) {
    height: 200px;
  }
  @include breakpoint($screen-3) {
    height: auto;
  }
}

.photo-card__photo {
  overflow: hidden;

  height: 186px;

  background: transparent 50% 50% no-repeat;
  background-size: cover;

  @include breakpoint($screen-2) {
    float: left;

    width: 50%;
    height: 100%;
  }
  @include breakpoint($screen-3) {
    float: none;

    width: auto;
    height: 200px;
  }

  @for $i from 1 through 3 {
    .photo-card_photo_#{$i} & {
      background-image: url(nth($photo-card-photos-screen-1, $i));
      @include breakpoint($screen-2) {
        background-image: url(nth($photo-card-photos-screen-2, $i));
      }
      @include breakpoint($screen-3) {
        background-image: url(nth($photo-card-photos-screen-4, $i));
      }
    }
  }
}

.photo-card__content {
  padding: 25px 20px 20px;

  @include breakpoint($screen-2) {
    display: table;
    float: left;

    width: 50%;
    height: 100%;
    padding: 45px 30px 30px 35px;
  }
  @include breakpoint($screen-3) {
    display: block;
    float: none;

    width: auto;
    height: auto;
    padding: 25px;
  }
}

.photo-card__centered {
  @include breakpoint($screen-2) {
    display: table-cell;

    vertical-align: middle;
  }
  @include breakpoint($screen-3) {
    display: block;

    vertical-align: top;
  }
}

.photo-card__heading {
  display: block;

  margin-bottom: .65em;

  font-size: 18px;
  font-weight: 700;

  @include breakpoint($screen-2) {
    margin-bottom: 1em;

    font-size: 21px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: .75em;

    font-size: 18px;
  }
}

.photo-card__text {
  color: $color-5;

  font-size: 13px;
  font-weight: 300;
  line-height: 1.615;

  @include breakpoint($screen-2) {
    font-size: 15px;
  }
  @include breakpoint($screen-3) {
    font-size: 14px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /photo-card
----------------------------------------------------------------------------------------------------------------------*/
