/*----------------------------------------------------------------------------------------------------------------------
    .hoto-slider
----------------------------------------------------------------------------------------------------------------------*/
.photo-slider {
  margin: 0 auto;

  @include breakpoint($screen-2) {
    position: relative;

    //width: 660px;
  }
  @include breakpoint($screen-3) {
    //width: 900px;
  }
  @include breakpoint($screen-4) {
    //width: 940px;
  }
}

.photo-slider__list {
  position: relative;
  z-index: 2;

  width: 260px;
  margin: 0 auto 16px;

  @include breakpoint($screen-2) {
    width: 660px;
    margin-bottom: 35px;
  }
  @include breakpoint($screen-3) {
    width: 900px;
  }
  @include breakpoint($screen-4) {
    width: 940px;
  }
}

.photo-slider__slide {
  width: 260px;
  margin: 0 20px;

  outline: none;

  @include breakpoint($screen-2) {
    width: 660px;
  }
  @include breakpoint($screen-3) {
    width: 900px;
  }
  @include breakpoint($screen-4) {
    width: 940px;
  }
}

.photo-slider__navs {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 24px;
  margin-bottom: 16px;

  @include breakpoint($screen-2) {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    margin-bottom: 0;
  }
}

.photo-slider__nav {
  position: absolute;

  height: 24px;

  color: $color-4;

  font-size: 13px;
  line-height: 24px;

  @include breakpoint($screen-2) {
    top: 50%;

    margin-top: -43px;

    font-size: 0;
  }
  @include breakpoint($screen-3) {
    margin-top: -43px;
  }
  &:before {
    position: absolute;

    width: 9px;
    height: 24px;

    content: '';
    transition: transform .25s;

    background-repeat: no-repeat;

    @include breakpoint($screen-2) {
      width: 14px;
      height: 36px;
    }
    @include breakpoint($screen-3) {
      width: 18px;
      height: 42px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.photo-slider__nav_prev {
  left: 0;

  padding-left: 20px;

  @include breakpoint($screen-2) {
    left: -38px;

    padding: 0;
  }
  @include breakpoint($screen-3) {
    left: -42px;
  }
  @include breakpoint($screen-4) {
    left: -70px;
  }
  &:before {
    left: 0;

    background-image: url('../img/arrow-left-screen-1.png');
    background-position: 0 50%;

    @include breakpoint($screen-2) {
      background-image: url('../img/arrow-left-screen-2.png');
    }
    @include breakpoint($screen-3) {
      background-image: url('../img/arrow-left-screen-3.png');
    }
  }
  &:after {
    left: 0;
  }
  &:hover:before {
    transform: translate3d(-5px, 0, 0);
  }
}

.photo-slider__nav_next {
  right: 0;

  padding-right: 20px;

  @include breakpoint($screen-2) {
    right: -38px;

    padding: 0;
  }
  @include breakpoint($screen-3) {
    right: -42px;
  }
  @include breakpoint($screen-4) {
    right: -70px;
  }
  &:before {
    right: 0;

    background-image: url('../img/arrow-right-screen-1.png');
    background-position: 100% 50%;

    @include breakpoint($screen-2) {
      background-image: url('../img/arrow-right-screen-2.png');
    }
    @include breakpoint($screen-3) {
      background-image: url('../img/arrow-right-screen-3.png');
    }
  }
  &:hover:before {
    transform: translate3d(5px, 0, 0);
  }
}

.photo-slider__dots {
  position: relative;
  z-index: 3;

  text-align: center;

  font-size: 0;
  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
  li {
    display: inline-block;

    margin-right: 12px;

    @include breakpoint($screen-2) {
      margin-right: 15px;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

.photo-slider__dot {
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: $color-7;

  @include breakpoint($screen-2) {
    width: 8px;
    height: 8px;
  }
  .slick-active &, &:hover {
    background-color: $color-8;
  }
  &:hover {
    cursor: pointer;
  }
  .slick-active & {
    cursor: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /photo-slider
----------------------------------------------------------------------------------------------------------------------*/
