/*----------------------------------------------------------------------------------------------------------------------
    photo-slide
----------------------------------------------------------------------------------------------------------------------*/
.photo-slide {
  width: 260px;
  margin: 0 auto;
  margin-bottom: -9.5px;

  @extend %clearfix;
  @include breakpoint($screen-2) {
    width: 660px;
    margin-bottom: -12px;
  }
  @include breakpoint($screen-3) {
    width: 900px;
    margin-bottom: -19.5px;
  }
  @include breakpoint($screen-4) {
    width: 940px;
  }
}

.photo-slide__col {
  margin-bottom: 10px;

  text-align: center;

  font-size: 0;

  @include breakpoint($screen-2) {
    float: left;

    width: 323px;
    margin-right: 14px;
    margin-bottom: auto;
  }
  @include breakpoint($screen-3) {
    width: 440px;
    margin-right: 20px;
  }
  @include breakpoint($screen-4) {
    width: 460px;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-2) {
      margin-right: auto;
    }
  }
}

.photo-slide__item {
}

.photo-slide__type_1 {
  width: 260px;

  @include breakpoint($screen-2) {
    width: 323px;
  }
  @include breakpoint($screen-3) {
    width: 440px;
  }
  @include breakpoint($screen-4) {
    width: 460px;
  }
}

.photo-slide__type_2 {
  display: inline-block;

  width: 125px;
  margin-right: 9.5px;
  margin-bottom: 9.5px;

  @include breakpoint($screen-2) {
    width: 155px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  @include breakpoint($screen-3) {
    width: 210px;
    margin-right: 19.5px;
    margin-bottom: 19.5px;
  }
  @include breakpoint($screen-4) {
    width: 220px;
  }
  &:nth-child(2n) {
    margin-right: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /photo-slide
----------------------------------------------------------------------------------------------------------------------*/
