/*----------------------------------------------------------------------------------------------------------------------
    price-card
----------------------------------------------------------------------------------------------------------------------*/
.price-card {
  background-color: $color-3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .11);
}

.price-card_size_1 {
  margin: -10px -10px 0;
  @include breakpoint($screen-2) {
    margin: auto;
  }
}

.price-card__container {
  padding: 62px 1em 67px;
  text-align: center;
  .price-card_size_1 & {
    padding: 75px 1em 81px;
    @include breakpoint($screen-2) {
      padding-top: 65px;
    }
  }
}

.price-card__num {
  display: block;

  margin-bottom: 10px;

  font-size: 58px;
  font-weight: 100;
  line-height: 1;
  .price-card_size_1 & {
    font-size: 63px;
  }
}

.price-card__practice {
  display: block;

  margin-bottom: 50px;

  text-transform: uppercase;

  font-size: 13px;
  font-weight: 700;
  .price-card_size_1 & {
    font-size: 14px;
  }
}

.price-card__cost {
  display: block;

  color: $color-4;
}

.price-card__sum {
  display: inline-block;

  vertical-align: middle;

  font-size: 39px;
  font-weight: 100;
}

.price-card__currency {
  display: inline-block;

  vertical-align: middle;
  text-transform: uppercase;

  font-size: 19px;
  font-weight: 700;
}
/*----------------------------------------------------------------------------------------------------------------------
    /price-card
----------------------------------------------------------------------------------------------------------------------*/
