/*----------------------------------------------------------------------------------------------------------------------
    question-card
----------------------------------------------------------------------------------------------------------------------*/
.question-card {
  position: relative;

  padding-left: 32px;

  @include breakpoint($screen-2) {
    padding-left: 42px;
  }
  &:before {
    position: absolute;
    top: -10px;
    left: 0;

    content: '?';

    color: $color-4;

    font-size: 50px;
    font-weight: 100;

    @include breakpoint($screen-2) {
      top: -15px;

      font-size: 64px;
    }
  }
}

.question-card__container {
}

.question-card__heading {
  margin-bottom: 15px;

  @include breakpoint($screen-2) {
    margin-bottom: 10px;
  }
}

.question-card__h {
  display: block;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.2941176471;

  @include breakpoint($screen-2) {
    font-size: 24px;
    line-height: (28px / 24px);
  }
}

.question-card__text {
  color: $color-5;

  font-size: 13px;
  line-height: (20px / 13px);

  @include breakpoint($screen-2) {
    font-size: 15px;
    line-height: (20px / 15px);
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /question-card
----------------------------------------------------------------------------------------------------------------------*/
