/*----------------------------------------------------------------------------------------------------------------------
    section
----------------------------------------------------------------------------------------------------------------------*/
.section {
  padding: 20px 0 30px;
  @include breakpoint($screen-2) {
    padding: 30px 0 35px;
  }
  @include breakpoint($screen-3) {
    padding: 40px 0 50px;
  }
}

.section__header {
  margin-bottom: 25px;
  @include breakpoint($screen-2) {
    margin-bottom: 30px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 50px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /section
----------------------------------------------------------------------------------------------------------------------*/