/*----------------------------------------------------------------------------------------------------------------------
    thumbnail
----------------------------------------------------------------------------------------------------------------------*/
.thumbnail {
  position: relative;

  overflow: hidden;
}

.thumbnail__link {
  position: relative;

  display: block;
  &:hover:after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;

    @include breakpoint($screen-2) {
      top: 11px;
      right: 11px;
      bottom: 11px;
      left: 11px;
    }
    @include breakpoint($screen-3) {
      top: 13px;
      right: 13px;
      bottom: 13px;
      left: 13px;
    }
  }
  &:after {
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;

    content: '';
    transition: all .15s;

    border: 1px solid $color-2;

    @include breakpoint($screen-2) {
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
    }
    @include breakpoint($screen-3) {
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
    }
  }
}

.thumbnail__thumbnail {
  display: block;

  width: 100%;
  height: auto;
}
/*----------------------------------------------------------------------------------------------------------------------
    /thumbnail
----------------------------------------------------------------------------------------------------------------------*/
