/*----------------------------------------------------------------------------------------------------------------------
    slide-5
----------------------------------------------------------------------------------------------------------------------*/
.slide-5 {
  position: relative;

  background-image: linear-gradient(to top, #f0f0f0 0%, white 100%);
  & > .container {
    padding-bottom: 435px;

    @extend .section;
    @include breakpoint($screen-2) {
      position: relative;

      padding-bottom: 35px;
    }
    @include breakpoint($screen-3) {
      padding-bottom: 50px;
    }
  }
}

.slide-5__header {
  @include breakpoint($screen-2) {
    width: 135px;
  }
}

.slide-5__container {
  @include breakpoint($screen-2) {
    padding-left: 370px;
  }
  @include breakpoint($screen-3) {
    padding-left: 410px;
  }
  @include breakpoint($screen-4) {
    padding-left: 450px;
  }
}

.slide-5__slider {
  margin-bottom: 63px;

  @include breakpoint($screen-3) {
    width: 500px;
  }
  @include breakpoint($screen-4) {
    width: 580px;
  }
}

.slide-5__coach {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 435px;

  @include breakpoint($screen-2) {
    right: 400px;

    height: 100%;
  }
  @include breakpoint($screen-3) {
    right: 630px;
  }
  @include breakpoint($screen-4) {
    right: 735px;
  }
  img {
    display: block;

    width: auto;
    height: 435px;
    margin-left: auto;

    @include breakpoint($screen-2) {
      position: absolute;
      right: 0;

      height: 100%;
      margin: auto;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-5
----------------------------------------------------------------------------------------------------------------------*/
