/*----------------------------------------------------------------------------------------------------------------------
    slide-8
----------------------------------------------------------------------------------------------------------------------*/
.slide-8 {
  @extend %clearfix;
}

.slide-8__header {
  padding: 22px 0 35px;

  background-color: $color-2;
  @include breakpoint($screen-2) {
    padding: 45px 0 55px;
  }
  @include breakpoint($screen-3) {
    padding-bottom: 67px;
  }
}

.slide-8__heading {
  @extend .section__header;
}

.slide-8__text {
  text-align: center;

  color: $color-5;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;

  @include breakpoint($screen-2) {
    font-size: 20px;
    line-height: 32px;
  }
  @include breakpoint($screen-3) {

  }
}

.slide-8__maps {
}

.slide-8__item {
  position: relative;

  height: 450px;

  @include breakpoint($screen-2) {
    height: 540px;
  }
  @include breakpoint($screen-3) {
    width: 50%;
  }
}

.slide-8__item_1 {
  @include breakpoint($screen-3) {
    float: right;
  }
  #map {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
  }
}

.slide-8__item_2 {
  @include breakpoint($screen-3) {
    float: left;
  }
}


.slide-8__button {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  display: table;

  width: 100%;
  height: 100%;

  transition: all .25s;
  &:hover {
    cursor: pointer;
    .slide-8__button-text {
      text-decoration: none;
    }
  }
}

.slide-8__button_1 {
  visibility: hidden;

  opacity: 0;
  background-image: linear-gradient(180deg + 34deg, #ff1647 0%, rgba(255, 22, 71, .7) 100%);
  &:hover {
    background-image: linear-gradient(180deg + 34deg, darken(#ff1647, 7.5) 0%, darken(rgba(255, 22, 71, .7), 7.5) 100%);
  }
  .active & {
    visibility: visible;

    opacity: 1;
  }
}

.slide-8__button_2 {
  background-image: linear-gradient(34deg, #ff1647 0%, rgba(255, 22, 71, .7) 100%);
  &:hover {
    background-image: linear-gradient(34deg, darken(#ff1647, 7.5) 0%, darken(rgba(255, 22, 71, .7), 7.5) 100%);
  }
  .active & {
    visibility: hidden;

    opacity: 0;
  }
}

.slide-8__button-text {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  letter-spacing: .16em;
  text-transform: uppercase;

  color: $color-2;

  font-size: 16px;
  font-weight: 500;

  @include breakpoint($screen-2) {
    font-size: 21px;
  }
  .slide-8__button_1 & {
    @include breakpoint($screen-4) {
      padding-left: 120px;

      text-align: left;
    }
  }
  .slide-8__button_2 & {
    @include breakpoint($screen-4) {
      padding-right: 120px;

      text-align: right;
    }
  }
}

.slide-8__scheme {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url('../img/scheme-screen-1.png') 50% 50% no-repeat;
  background-size: cover;

  @include breakpoint($screen-1 + 1px) {
    background-image: url('../img/scheme-screen-2.png');
  }
  @include breakpoint($screen-2 + 1px) {
    background-image: url('../img/scheme-screen-3.png');
  }
  @include breakpoint($screen-3 + 1px) {
    background-image: url('../img/scheme-screen-4.png');
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-8
----------------------------------------------------------------------------------------------------------------------*/
