/*----------------------------------------------------------------------------------------------------------------------
    slide-3
----------------------------------------------------------------------------------------------------------------------*/
.slide-3 {
  background-color: $color-9;
}

.slide-3__header {
}

.slide-3__container {
  @include breakpoint($screen-3) {
    text-align: center;

    font-size: 0;
  }
}

.slide-3__item {
  margin-bottom: 20px;

  @include breakpoint($screen-2) {
    margin-bottom: 26px;
  }
  @include breakpoint($screen-3) {
    display: inline-block;

    width: 300px;
    margin-right: 17px;
    margin-bottom: auto;

    vertical-align: top;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-3) {
      margin-right: auto;
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-3
----------------------------------------------------------------------------------------------------------------------*/
