/*----------------------------------------------------------------------------------------------------------------------
    slide-7
----------------------------------------------------------------------------------------------------------------------*/
.slide-7 {
  background-color: $color-3;
}

.slide-7__header {
}

.slide-7__container {
  @include breakpoint($screen-4) {
    padding: 0 25px;
  }
}

.slide-7__item {
  margin-bottom: 30px;

  @include breakpoint($screen-2) {
    margin-bottom: 34px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 36px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-7
----------------------------------------------------------------------------------------------------------------------*/
