/*----------------------------------------------------------------------------------------------------------------------
    slide-4
----------------------------------------------------------------------------------------------------------------------*/
.slide-4 {
  padding-bottom: 0;
}

.slide-4__header {
}

.slide-4__container {
}

.slide-4__item {
  margin-bottom: 55px;

  @include breakpoint($screen-2) {
    margin-bottom: 70px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 50px;
  }
  &:last-child {
    margin-bottom: auto;
  }
}

.slide-4__form {
  padding: 40px 0;

  background-color: $color-3;

  @include breakpoint($screen-2) {
    padding: 60px 0;
  }
  @include breakpoint($screen-3) {
    padding: 90px 0;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-4
----------------------------------------------------------------------------------------------------------------------*/
