/*----------------------------------------------------------------------------------------------------------------------
    slide-6
----------------------------------------------------------------------------------------------------------------------*/
.slide-6 {
}

.slide-6__header {
}

.slide-6__container {
  margin-bottom: 25px;

  @include breakpoint($screen-2) {
    text-align: center;

    font-size: 0;
  }
}

.slide-6__item {
  @include breakpoint($screen-2) {
    display: inline-block;

    width: 300px;

    vertical-align: bottom;
  }
}

.slide-6__hint {
  display: block;

  margin-bottom: 56px;

  text-align: center;

  color: $color-5;

  font-size: 14px;
  line-height: 21px;

  @include breakpoint($screen-2) {
    margin-bottom: 75px;
  }
  @include breakpoint($screen-3) {
    margin-bottom: 90px;
  }
}

.slide-6__form {
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-6
----------------------------------------------------------------------------------------------------------------------*/
