/*----------------------------------------------------------------------------------------------------------------------
    slide-1
----------------------------------------------------------------------------------------------------------------------*/
.slide-1 {
  background: $color-7 url('../img/slide-1-background-screen-1.jpg') 50% 50% no-repeat;
  background-size: cover;

  @include breakpoint($screen-1 + 1px) {
    background-image: url('../img/slide-1-background-screen-2.jpg');
  }
  @include breakpoint($screen-2 + 1px) {
    background-image: url('../img/slide-1-background-screen-3.jpg');
  }
  @include breakpoint($screen-3 + 1px) {
    background-image: url('../img/slide-1-background-screen-4.jpg');
  }
  & > .container {
    position: relative;

    padding: 40px 0;

    @include breakpoint($screen-2) {
      padding: 69px 0 159px;
    }
    @include breakpoint($screen-3) {
      padding: 90px 0 130px;
    }
  }
}

.slide-1__header {
  margin-bottom: 30px;
  margin-left: -5px;

  @include breakpoint($screen-2) {
    margin-bottom: 20px;
    margin-left: -5px;
  }
  @include breakpoint($screen-3) {
    width: 670px;
    margin-left: 0;
  }
}

.slide-1__heading {
  letter-spacing: 0;

  font-size: 22px;
  font-weight: 700;
  line-height: 28px;

  @include breakpoint($screen-2) {
    font-size: 37px;
    line-height: 42px;
  }
}

.slide-1__subheader {
  width: 285px;
  height: 74px;
  margin-bottom: 20px;
  margin-left: -14px;
  padding: 11px 60px 0 16px;

  @include icon('../img/slide-1-subheading-background-screen-1.png');
  @include breakpoint($screen-2) {
    width: 665px;
    height: 68px;
    margin-bottom: 51px;
    margin-left: -17px;
    padding: 0 17px;

    @include icon('../img/slide-1-subheading-background-screen-2.png');
  }
  @include breakpoint($screen-3) {
    margin-bottom: 45px;
  }
}

.slide-1__subheading {
  color: $color-2;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

  @include breakpoint($screen-2) {
    font-size: 24px;
    line-height: 54px;
  }
}

.slide-1__form {
  @include breakpoint($screen-2) {
    position: relative;
    z-index: 2;

    width: 280px;
  }
  @include breakpoint($screen-3) {
    width: 650px;
  }
}

.slide-1__yogagirl {
  @include breakpoint($screen-2) {
    position: absolute;
    z-index: 1;
    right: -119px;
    bottom: 63px;

    width: 796px;
    height: 435px;

    @include icon('../img/yogagirl-screen-2.png');
  }
  @include breakpoint($screen-3) {
    right: -201px;
    bottom: 32px;

    width: 892px;
    height: 488px;

    @include icon('../img/yogagirl-screen-3.png');
  }
  @include breakpoint($screen-4) {
    right: -131px;

    @include icon('../img/yogagirl-screen-3.png');
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-1
----------------------------------------------------------------------------------------------------------------------*/
