/*----------------------------------------------------------------------------------------------------------------------
    slide-9
----------------------------------------------------------------------------------------------------------------------*/
.slide-9 {
}

.slide-9__container {
  padding: 60px 0;

  @include breakpoint($screen-2) {
    padding: 75px 0;
  }
  @include breakpoint($screen-3) {
    padding: 85px 0;

    text-align: center;

    font-size: 0;
  }
}

.slide-9__item {
  margin-bottom: 55px;

  @include breakpoint($screen-3) {
    display: inline-block;

    margin-right: 115px;
    margin-bottom: auto;

    vertical-align: top;
  }
  &:last-child {
    margin-bottom: auto;

    @include breakpoint($screen-3) {
      margin-right: auto;
    }
  }
}

.slide-9__form {
  padding: 38px 0;

  background-color: $color-3;

  @include breakpoint($screen-2) {
    padding: 55px 0;
  }
  @include breakpoint($screen-3) {
    padding: 80px 0;
  }
}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-9
----------------------------------------------------------------------------------------------------------------------*/
