/*----------------------------------------------------------------------------------------------------------------------
    slide-2
----------------------------------------------------------------------------------------------------------------------*/
.slide-2 {

}

.slide-2__header {

}

.slide-2__container {
  @include breakpoint($screen-2) {
    padding: 0;
  }
  @include breakpoint($screen-3) {
    padding: 0 20px;
  }
  @include breakpoint($screen-4) {
    padding: 0;
  }
}

.slide-2__slider {

}
/*----------------------------------------------------------------------------------------------------------------------
    /slide-2
----------------------------------------------------------------------------------------------------------------------*/