.footer
  .container
    .footer__container
      .footer__item © 2016 «Music Stars Йога»
      .footer__item
        a.js-popup__opener(href='#popup-policy') Политика конфиденциальности
      .footer__item
        a.footer__phone(href='tel:+74950667989') +7 495 066 79 89
      .footer__item
        a(href='mailto:info@mymusicstars.ru') info@mymusicstars.ru
    span.footer__developer Создание и продвижение сайта #[a(href='http://amisunov.ru', target='_blank') AMisunov.ru]