include ../base/mixins/addr-card

header.header.js-fixable
  .container
    .header__item.header__item_1
      a.logo(href='./') Music Stars Yoga - Студия йоги в Жуковке
    .header__item.header__item_2
      +addr-card.addr-card_icon_1 д. Жуковка, 78
    .header__item.header__item_3
      +addr-card.addr-card_icon_2
        a.addr-card__phone(href='tel:+79265138491') +7 (926) 513 84 91
    .header__item.header__item_4
      +addr-card.addr-card_icon_3
        a.addr-card__phone(href='whatsapp://+74950667989') +7 (495) 066 79 89
    .header__item.header__item_5
      .menu.js-menu
        .menu__button
          .menu-button
            input.menu-button__checkbox.js-menu__checkbox#menu-btn__checkbox(type="checkbox")
            label.menu-button__label(for="menu-btn__checkbox")
              span
        .menu__dropdown
          .menu__item.menu__item_1
            include navigation
          .menu__item.menu__item_2
            +addr-card.addr-card_icon_1 д. Жуковка, 78
          .menu__item.menu__item_3
            +addr-card.addr-card_icon_2
              a.addr-card__phone(href='tel:+79265138491') +7 (926) 513 84 91
          .menu__item.menu__item_4
            +addr-card.addr-card_icon_3
              a.addr-card__phone(href='whatsapp://+74950667989') +7 (495) 066 79 89
