nav.navigation
  .container
    ul.navigation__list
      li.navigation__item
        a.navigation__link.js-scroll-to(href='#o-shkole-music-stars', data-rel='#o-shkole-music-stars') О школе Music Stars
      li.navigation__item
        a.navigation__link.js-scroll-to(href='#zal', data-rel='#zal') Зал
      li.navigation__item
        a.navigation__link.js-scroll-to(href='#raspisanie', data-rel='#raspisanie') Расписание
      li.navigation__item
        a.navigation__link.js-scroll-to(href='#trener', data-rel='#trener') Тренер
      li.navigation__item
        a.navigation__link.js-scroll-to(href='#kontakty', data-rel='#kontakty') Контакты