.popup__hide
  .popup.popup_info#popup-policy
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Политика конфиденциальности
      .popup__text
        p Сайт http://mymusicstars.ru/yoga-rublevka уважает ваше право и соблюдает конфиденциальность при заполнении, передачи и хранении ваших конфиденциальных сведений.
        p Размещение заявки на сайте http://mymusicstars.ru/yoga-rublevka означает Ваше согласие на обработку данных и дальнейшей передачи ваших контактных данных ООО “Звезды Музыки” .
        p Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, имущественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.
        p Целью обработки персональных данных является оказание сайтом http://mymusicstars.ru/yoga-rublevka информационно-справочных услуг, а также информирование об оказываемых услугах ООО “Звезды Музыки” .
        p В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде по адресу: info@mymusicstars.ru

  .popup.popup_align_center#popup-thanks
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Спасибо!
      .popup__text Ваша заявка принята. Наш менеджер скоро перезвонит Вам.

  .popup.popup_align_center#popup-error
    .popup__close.js-popup__close
    .popup__container
      span.popup__heading Ошибка!
      .popup__text Попробуйте отправить заявку еще раз