html {
  letter-spacing: .02em;

  color: $color-1;

  font: normal 300 14px/1.2 $font-1;
}

body {
  background-color: $color-2;
}

input, button, textarea, select, a {
  outline: none;
}

button, select {
  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  &:hover {
    text-decoration: none;
  }
}
