/*----------------------------------------------------------------------------------------------------------------------
    Layout styles
----------------------------------------------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;

  width: 100%;
}

.container {
  width: 280px;
  margin: 0 auto;

  @include breakpoint($screen-2) {
    width: 720px;
  }
  @include breakpoint($screen-3) {
    width: 960px;
  }
  @include breakpoint($screen-4) {
    width: 1080px;
  }
}

.container_size_1 {
  width: 260px;
  @include breakpoint($screen-2) {
    width: 660px;
  }
  @include breakpoint($screen-3) {
    width: 940px;
  }
}

.container_size_2 {
  width: 260px;
  @include breakpoint($screen-2) {
    width: 660px;
  }
  @include breakpoint($screen-3) {
    width: 940px;
  }
  @include breakpoint($screen-4) {
    width: 1080px;
  }
}

.container_width_1 {

}
/*----------------------------------------------------------------------------------------------------------------------
    /Layout styles
----------------------------------------------------------------------------------------------------------------------*/
