extends ../base/base

block variables
  <?php require('php/logic.php'); ?>
  -
    var title = 'Йога Рублевка - центр практики для начинающих и продвинутых | Music Stars'
    var description = 'Занятия йогой в самом центре  Рублево-Успенского шоссе в удобное время. Занятия в 4-х этажном творческом пространстве в Жуковке с видом на живописные места. Зписывайся: +7 (495) 066 79 89';
    var keywords = 'йога для начинающих жуковка рублевка практика барвиха';
    var openGraphUrl = 'http://mymusicstars.ru/yoga-rublevka';
    var openGraphImg = 'http://mymusicstars.ru/yoga-rublevka/assets/img/og.jpg';

block body
  main
    .header__holder
      include ../blocks/header
    #home
    include ../blocks/slides/slide-1
    #zal
    include ../blocks/slides/slide-2
    #o-shkole-music-stars
    include ../blocks/slides/slide-3
    #raspisanie
    include ../blocks/slides/slide-4
    #trener
    include ../blocks/slides/slide-5
    include ../blocks/slides/slide-6
    include ../blocks/slides/slide-7
    #kontakty
    include ../blocks/slides/slide-8
    include ../blocks/slides/slide-9
    include ../blocks/footer
    include ../blocks/popups