extends ../base/base

include ../base/mixins/thumbnail
include ../base/mixins/photo-card
include ../base/mixins/price-card
include ../base/mixins/cta-form
include ../base/mixins/addr-card
include ../base/mixins/question-card
include ../base/mixins/bg-card

block variables
  <?php require('php/logic.php'); ?>
  -
    var title = 'UI Kit'
    var author = 'Artur Orlov <orlovarth@ya.ru>';
    var description = 'UI Kit';
    var keywords = 'UI Kit';

block body
  main.uikit
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Заголовки
        .uikit__comments
          span Заголовок
        .uikit__example
          .heading
            span.heading__h Посмотрите, где #[span.br.br_display_screen-2] проходят наши занятия
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Инпут
        .uikit__comments
          span Инпут
        .uikit__example
          input.input(type='text', name='name', placeholder='Ваше имя')
          input.input.error(type='text', name='name', placeholder='Ваше имя')
        .uikit__comments
          span Без тени
        .uikit__example.uikit__example_dark
          input.input.input_shadow_none(type='text', name='name', placeholder='Ваше имя')
        .uikit__comments
          span С серым фоном
        .uikit__example
          input.input.input_background_grey(type='text', name='name', placeholder='Ваше имя')
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Кнопка
        .uikit__comments
          span Кнопка
        .uikit__example
          button.button Заказать звонок
          a.button(href='#777') Заказать звонок
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Миниатюры
        .uikit__comments
          span Миниатюры
        .uikit__example
          +thumbnail('assets/img/photos/1.jpg', 'assets/img/photos/1-thumbnail.jpg', 'Посмотрите, где проходят наши занятия')
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка с фото
        .uikit__comments
          span Карточка с фото
        .uikit__example.uikit__example_dark
          +photo-card('Для начинающих').photo-card_photo_1 Курс для начинающих – уникальный шанс постичь безграничные возможности собственного тела
          +photo-card('Для продвинутых').photo-card_photo_2 Курс для продвинутых – обретение духовной, психологической и физической гармонии.
          +photo-card('Для фанатов').photo-card_photo_3 Курс для фанатов – преодоление пути от физического здоровья до полного освобождения сознания.
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка с прайсом
        .uikit__comments
          span Карточка с прайсом
        .uikit__example
          +price-card('1', 'практика', '3 000')
          +price-card('8', 'практик', '20 000').price-card_size_1
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Формы
        .uikit__comments
          span Обычная форма
        .uikit__example.uikit__example_dark
          +cta-form(false, 'Запишитесь на пробную тренировку', 'Записаться', 'Форма на первом слайде &quot;Запишитесь на пробную тренировку&quot;', 'input_shadow_none').cta-form_type_1 Ваши персональные данные не будут переданы третьим лицам
        .uikit__example.uikit__example_dark
          +cta-form('Еще сомневаетесь приходить ли на пробный урок?', 'Закажите обратный звонок', 'Заказать звонок', 'Форма на первом слайде &quot;Запишитесь на пробную тренировку&quot;').cta-form_type_2
            | или просто позвоните на номер
            a.cta-form__phone(href='tel:+74950667989') +7 495 066 79 89
            | и мы развеем все Ваши сомнения
        .uikit__example
          +cta-form(false, 'Запишитесь на<span class="br br_display_screen-3"></span>пробную практику', 'Записаться на тренировку', 'Форма на первом слайде &quot;Запишитесь на пробную тренировку&quot;', 'input_shadow_none input_background_grey').cta-form_type_3
        .uikit__example.uikit__example_dark
          +cta-form(false, 'Остались вопросы?<span class="br br_display_screen-3"></span>Закажите обратный звонок', 'Заказать звонок', 'Форма на первом слайде &quot;Запишитесь на пробную тренировку&quot;').cta-form_type_4
            | или просто позвоните на номер
            a.cta-form__phone(href='tel:+74950667989') +7 495 066 79 89
            | и мы развеем все Ваши сомнения
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточки адреса
        .uikit__comments
          span Обычные карточки адреса
        .uikit__example
          +addr-card.addr-card_icon_1 д. Жуковка, 78
          +addr-card.addr-card_icon_3
            a.addr-card__phone(href='tel:+79265138491') +7 (926) 513 84 91
          +addr-card.addr-card_icon_2
            a.addr-card__phone(href='tel:+74950667989') +7 (495) 066 79 89
        .uikit__comments
          span Виды
        .uikit__example
          +addr-card.addr-card_type_2.addr-card_icon_3
            a.addr-card__phone(href='tel:+74950667989') +7 (495) 066 79 89
            br
            br
            span
              a(href='mailto:info@mymusicstars.ru') info@mymusicstars.ru
          +addr-card.addr-card_type_2.addr-card_icon_1
            | Московская область, Одинцовский район, д. Жуковка, д. 78
            br
            br
            span Instagram #[a(href='https://www.instagram.com/musicstarsru/' target='_blank') musicstarsru]
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка вопроса
        .uikit__comments
          span Обычная карточка вопроса
        .uikit__example
          +question-card('Смогу ли я заниматься йогой в группе которая уже занимается давно?') Конечно сможете, с одной стороны вам это будет удобно, тк вы всегда сможете подсмотреть у соседа как правильно сделать, а с другой стороны вас всегда сможет поправить тренер, который уделяет особое внимание новичкам
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Карточка с фоном
        .uikit__comments
          span Карточки с фоном
      .uikit__example
        +bg-card.bg-card_side_left.bg-card_background_1 Расположение на самом#[br]Рублево-Успенском шоссе
        +bg-card.bg-card_side_right.bg-card_background_2 Занятия в 4-х этажном#[br]творческом пространстве#[br]с видом на живописные места
        +bg-card.bg-card_side_left.bg-card_background_3 В услуги входит сауна и душ,#[br]предоставляются полотенца,#[br]тапочки, коврики для йоги
        +bg-card.bg-card_side_right.bg-card_background_4 Высококлассный тренер,#[br]Индивидуальный подход#[br]к каждому
        +bg-card.bg-card_side_left.bg-card_background_5 После занятия вы всегда#[br]можете выпить горячего#[br]чая и отдохнуть от суеты#[br]большого города
        +bg-card.bg-card_side_right.bg-card_background_6 Участие в мастер-классах#[br]школы от звездных#[br]преподавателей
        +bg-card.bg-card_side_left.bg-card_background_7 Скидка на преобретение#[br]абонемента на второе#[br]направление в школе
        +bg-card.bg-card_side_right.bg-card_background_8 Дальнейшее участие#[br]в выездных мероприятиях#[br]по йоге за границей
        +bg-card.bg-card_side_left.bg-card_background_9 Возможность заниматься#[br]на свежем воздухе в теплое#[br]время года
    section.uikit__section
      .container
        .uikit__heading
          .heading
            span.heading__h Слайд с фотами
        .uikit__comments
          span Слайд с фотами
      .uikit__example
        .photo-slide
          .photo-slide__col
            .photo-slide__item.photo-slide__type_1
              +thumbnail('assets/img/photos/1.jpg', 'assets/img/photos/1-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 1')
          .photo-slide__col
            .photo-slide__item.photo-slide__type_2
              +thumbnail('assets/img/photos/2.jpg', 'assets/img/photos/2-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 2')
            .photo-slide__item.photo-slide__type_2
              +thumbnail('assets/img/photos/3.jpg', 'assets/img/photos/3-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 3')
            .photo-slide__item.photo-slide__type_2
              +thumbnail('assets/img/photos/4.jpg', 'assets/img/photos/4-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 4')
            .photo-slide__item.photo-slide__type_2
              +thumbnail('assets/img/photos/5.jpg', 'assets/img/photos/5-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 5')
    section.uikit__section
      .container.container_size_1
        .uikit__heading
          .heading
            span.heading__h Слайдер с фотами
        .uikit__comments
          span Слайдер с фотами
      .uikit__example
        .container.container_size_1
          .photo-slider.js-slider
            .photo-slider__list.js-slider__list
              .photo-slider__slide
                .photo-slide
                  .photo-slide__col
                    .photo-slide__item.photo-slide__type_1
                      +thumbnail('assets/img/photos/1.jpg', 'assets/img/photos/1-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 1')
                  .photo-slide__col
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/2.jpg', 'assets/img/photos/2-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 2')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/3.jpg', 'assets/img/photos/3-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 3')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/4.jpg', 'assets/img/photos/4-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 4')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/5.jpg', 'assets/img/photos/5-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 5')
              .photo-slider__slide
                .photo-slide
                  .photo-slide__col
                    .photo-slide__item.photo-slide__type_1
                      +thumbnail('assets/img/photos/1.jpg', 'assets/img/photos/1-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 1')
                  .photo-slide__col
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/2.jpg', 'assets/img/photos/2-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 2')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/3.jpg', 'assets/img/photos/3-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 3')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/4.jpg', 'assets/img/photos/4-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 4')
                    .photo-slide__item.photo-slide__type_2
                      +thumbnail('assets/img/photos/5.jpg', 'assets/img/photos/5-thumbnail.jpg', 'Посмотрите, где проходят наши занятия 5')
            .photo-slider__navs.js-slider__navs
              span.photo-slider__nav.photo-slider__nav_prev.js-slider__nav_prev Предыдущий
              span.photo-slider__nav.photo-slider__nav_next.js-slider__nav_next Следующий
            .photo-slider__dots.js-slider__dots
      section.uikit__section
        .container
          .uikit__heading
            .heading
              span.heading__h Слайд с тренером
          .uikit__comments
            span Слайд с тренером
        .uikit__example
          .info-slide
            .info-slide__container
              .info-slide__text
                p Йогой занимаюсь с 2010 года. В 2014 году прошла обучение (250 часов) на курсе "Праны" у Михаила Галаева, Дмитрия Демина, Ольги Булановой и Владимира Зайцева. Очень благодарна им за полученные знания, которые позволили повысить уровень моей собственной практики и создавать практику для других. 2015 год -курс по отстройкам и правкам в "Пране"
                p 2015 год  - семинар детского преподавателя йоги по системе YogaKids (США) Виктории Занкиной; 2015 год - курс ведического тайского массажа (Мукти); 2016 год - курс анатомии в "Метта school". С Мая 2016 года и по наст время обучаюсь йоге Айенгара в Yoga Practika.
                p Мои занятия включают в себя последовательности из статических и динамических элементов, постепенно прорабатывающих все части тела, в завершении глубокое расслабление. Делаю акцент на отстройках и травмобезопасности в асанах. Ориентируясь на уровень группы, даю упрощения/усложнения.
                p До встречи на коврике!
              .info-slide__images
                .info-slide__image
                  a.js-popup__opener(href='assets/img/diploms/diplom-1.png')
                    img(src='assets/img/diploms/diplom-1-thumbnail.png', alt='Диплом 1')
                .info-slide__image
                  a.js-popup__opener(href='assets/img/diploms/diplom-2.png')
                    img(src='assets/img/diploms/diplom-2-thumbnail.png', alt='Диплом 2')
                .info-slide__image
                  a.js-popup__opener(href='assets/img/diploms/diplom-3.png')
                    img(src='assets/img/diploms/diplom-3-thumbnail.png', alt='Диплом 3')



