/*----------------------------------------------------------------------------------------------------------------------
    Include image mixin
----------------------------------------------------------------------------------------------------------------------*/
@mixin icon($src) {
  display: block;

  background: transparent url($src) 50% 50% no-repeat;
}
/*----------------------------------------------------------------------------------------------------------------------
    /Include image mixin
----------------------------------------------------------------------------------------------------------------------*/
