include ../../base/mixins/bg-card

.slide-5
  .container
    .slide-5__container
      .slide-5__header.section__header
        .heading
          span.heading__h Тренер
      .slide-5__slider
        .slide-2__slider
          .coach-slider.js-coach-slider
            .coach-slider__navs.js-coach-slider__navs
              span.coach-slider__nav.coach-slider__nav_prev.js-coach-slider__nav_prev Предыдущий
              span.coach-slider__nav.coach-slider__nav_next.js-coach-slider__nav_next Следующий
            .coach-slider__list.js-coach-slider__list
              .coach-slider__slide(data-coach-image='assets/img/coach-1.png')
                .info-slide.js-popup__gallery
                  .info-slide__container
                    .info-slide__text
                      p Йогой занимаюсь с 2010 года. В 2014 году прошла обучение (250 часов) на курсе "Праны" у Михаила Галаева, Дмитрия Демина, Ольги Булановой и Владимира Зайцева. Очень благодарна им за полученные знания, которые позволили повысить уровень моей собственной практики и создавать практику для других. 2015 год -курс по отстройкам и правкам в "Пране"
                      p 2015 год  - семинар детского преподавателя йоги по системе YogaKids (США) Виктории Занкиной; 2015 год - курс ведического тайского массажа (Мукти); 2016 год - курс анатомии в "Метта school". С Мая 2016 года и по наст время обучаюсь йоге Айенгара в Yoga Practika.
                      p Мои занятия включают в себя последовательности из статических и динамических элементов, постепенно прорабатывающих все части тела, в завершении глубокое расслабление. Делаю акцент на отстройках и травмобезопасности в асанах. Ориентируясь на уровень группы, даю упрощения/усложнения.
                      p До встречи на коврике!
                    .info-slide__images
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-1.jpg')
                          img(src='assets/img/diploms/diplom-1-thumbnail.png', alt='Диплом 1')
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-2.jpg')
                          img(src='assets/img/diploms/diplom-2-thumbnail.png', alt='Диплом 2')
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-3.jpg')
                          img(src='assets/img/diploms/diplom-3-thumbnail.png', alt='Диплом 3')
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-4.jpg')
                          img(src='assets/img/diploms/diplom-4-thumbnail.png', alt='Диплом 4')
              .coach-slider__slide(data-coach-image='assets/img/coach-2.png')
                .info-slide.js-popup__gallery
                  .info-slide__container
                    .info-slide__text
                      p Йогой занимаюсь с 2010 года. В 2014 году прошла обучение (250 часов) на курсе "Праны" у Михаила Галаева, Дмитрия Демина, Ольги Булановой и Владимира Зайцева. Очень благодарна им за полученные знания, которые позволили повысить уровень моей собственной практики и создавать практику для других. 2015 год -курс по отстройкам и правкам в "Пране"
                      p 2015 год  - семинар детского преподавателя йоги по системе YogaKids (США) Виктории Занкиной; 2015 год - курс ведического тайского массажа (Мукти); 2016 год - курс анатомии в "Метта school". С Мая 2016 года и по наст время обучаюсь йоге Айенгара в Yoga Practika.
                      p Мои занятия включают в себя последовательности из статических и динамических элементов, постепенно прорабатывающих все части тела, в завершении глубокое расслабление. Делаю акцент на отстройках и травмобезопасности в асанах. Ориентируясь на уровень группы, даю упрощения/усложнения.
                      p До встречи на коврике!
                    .info-slide__images
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-5.jpg')
                          img(src='assets/img/diploms/diplom-5-thumbnail.jpg', alt='Диплом 5')
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-6.jpg')
                          img(src='assets/img/diploms/diplom-6-thumbnail.jpg', alt='Диплом 6')
                      .info-slide__image
                        a.js-popup__opener_image(href='assets/img/diploms/diplom-7.jpg')
                          img(src='assets/img/diploms/diplom-7-thumbnail.jpg', alt='Диплом 7')
    .slide-5__coach
        img(src='assets/img/coach-1.png', alt='Тренер').js-coach-slider__coach-image