include ../../base/mixins/bg-card

.slide-9
  .container.container_size_1
    .slide-9__container
      .slide-9__item
        +addr-card.addr-card_type_2.addr-card_icon_3
          a.addr-card__phone(href='tel:+74950667989') +7 (495) 066 79 89
          br
          br
          span
            a(href='mailto:info@mymusicstars.ru') info@mymusicstars.ru
      .slide-9__item
        +addr-card.addr-card_type_2.addr-card_icon_1
          | Московская область, Одинцовский район, д. Жуковка, д. 78
          br
          br
          span Instagram #[a(href='https://www.instagram.com/musicstarsru/' target='_blank') musicstarsru]
  .slide-9__form
    .container.container_size_1
      +cta-form(false, 'Остались вопросы?<span class="br br_display_screen-3"></span>Закажите обратный звонок', 'Заказать звонок', 'Форма после карты &quot;Остались вопросы?&quot;', null, 'form_4').cta-form_type_4
        | или просто позвоните на номер
        a.cta-form__phone(href='tel:+74950667989') +7 495 066 79 89
        | и мы развеем все Ваши сомнения