include ../../base/mixins/question-card

.slide-8
    .slide-8__header
      .container.container_size_1
        .slide-8__heading
          .heading
            span.heading__h Контакты
        .slide-8__text Мы находимся в 10-ти километрах от МКАД по Рублево-Успенскому шоссе в д. Жуковка д. 78 В 5-ти минутах от ресторана “Царская Охота”и ТЦ “Жукоffка Плаза”
    .slide-8__maps.js-toggle-map__cotnainer
      .slide-8__item.slide-8__item_1
        .slide-8__button.slide-8__button_1.js-toggle-map__button
          .slide-8__button-text посмотреть на карте
        #map
      .slide-8__item.slide-8__item_2
        .slide-8__button.slide-8__button_2.js-toggle-map__button
          .slide-8__button-text посмотреть на схеме
        .slide-8__scheme
