include ../../base/mixins/price-card

.slide-6.section
  .container.container_size_1
    .slide-6__header.section__header
      .heading
        span.heading__h Наш легкий прайс
    .slide-6__container
      .slide-6__item
        +price-card('1', 'практика', '3 000')
      .slide-6__item
        +price-card('8', 'практик', '20 000').price-card_size_1
    span.slide-6__hint *Абонемент на 8 занятий действует в течение 6-ти недель
    .slide-6__form
      .container.container_size_1
        +cta-form(false, 'Запишитесь на<span class="br br_display_screen-3"></span>пробную практику', 'Записаться на тренировку', 'Форма на слайде &quot;Наш легкий прайс&quot; &quot;Запишитесь на пробную практику&quot;', 'input_shadow_none input_background_grey', 'form_3').cta-form_type_3