include ../../base/mixins/question-card

.slide-7.section
  .container
    .slide-7__header.section__header
      .heading
        span.heading__h Часто задаваемые вопросы
    .slide-7__container
      .slide-7__item
        +question-card('Смогу ли я заниматься йогой в группе которая уже занимается давно?') Конечно сможете, с одной стороны вам это будет удобно, тк вы всегда сможете подсмотреть у соседа как правильно сделать, а с другой стороны вас всегда сможет поправить тренер, который уделяет особое внимание новичкам
      .slide-7__item
        +question-card('Смогу ли я привести себя в хорошее физическое состояние?') Однозначно сможете, тк вы укрепляете кости, а так же мышцы. Развиваете гибкость и подвижность суставов.
      .slide-7__item
        +question-card('Смогу ли я с помощью йоги преобрести душевную гармонию?') Сможете, тк помимо асан и виньяс мы применяем в практике пранаямы, которые напрямую воздействуют на психологическое состояние человека.
      .slide-7__item
        +question-card('У меня болит спина, поможет ли мне йога?') Вопрос в том по какой причине болит спина, исходя из диагноза мы сможем выстроить индивидуальную практику (несмотря на то,что она групповая) и поможем решить этот вопрос.
      .slide-7__item
        +question-card('Сколько раз лучше заниматься йогой?') Не менее 2-ух раз с неделю, лишь в таком случае вы сможете увидеть результат