include ../../base/mixins/cta-form

.slide-1
  .container.container_size_2
    .slide-1__header
      span.slide-1__heading Восстановите душевное равновесие и приведите в порядок свое тело
    .slide-1__subheader
      span.slide-1__subheading уже за 8 занятий йогой#[span.br.br_display_screen-2]в самом центре Рублевки
    .slide-1__form
      +cta-form(false, 'Запишитесь на пробную тренировку', 'Записаться', 'Форма на первом слайде &quot;Запишитесь на пробную тренировку&quot;', 'input_shadow_none', 'form_1').cta-form_type_1 Ваши персональные данные не будут переданы третьим лицам
    .slide-1__yogagirl
