include ../../base/mixins/bg-card

.slide-4.section
  .slide-4__header.section__header
    .heading
      span.heading__h Наши занятия
  .slide-4__container
    .slide-4__item
      +bg-card.bg-card_side_left.bg-card_background_1 Расположение на самом#[br]Рублево-Успенском шоссе
    .slide-4__item
      +bg-card.bg-card_side_right.bg-card_background_2 Занятия в 4-х этажном#[br]творческом пространстве#[br]с видом на живописные места
    .slide-4__item
      +bg-card.bg-card_side_left.bg-card_background_3 В услуги входит сауна и душ,#[br]предоставляются полотенца,#[br]тапочки, коврики для йоги
    .slide-4__item
      +bg-card.bg-card_side_right.bg-card_background_4 Высококлассный тренер,#[br]Индивидуальный подход#[br]к каждому
    .slide-4__item
      +bg-card.bg-card_side_left.bg-card_background_5 После занятия вы всегда#[br]можете выпить горячего#[br]чая и отдохнуть от суеты#[br]большого города
    .slide-4__item
      +bg-card.bg-card_side_right.bg-card_background_6 Участие в мастер-классах#[br]школы от звездных#[br]преподавателей
    .slide-4__item
      +bg-card.bg-card_side_left.bg-card_background_7 Скидка на преобретение#[br]абонемента на второе#[br]направление в школе
    .slide-4__item
      +bg-card.bg-card_side_right.bg-card_background_8 Дальнейшее участие#[br]в выездных мероприятиях#[br]по йоге за границей
    .slide-4__item
      +bg-card.bg-card_side_left.bg-card_background_9 Возможность заниматься#[br]на свежем воздухе в теплое#[br]время года
  .slide-4__form
    .container.container_size_1
      +cta-form('Еще сомневаетесь приходить ли на пробный урок?', 'Закажите обратный звонок', 'Заказать звонок', 'Форма на слайде &quot;Наши занятия&quot; &quot;Еще сомневаетесь приходить ли на пробный урок?&quot;', '', 'form_2').cta-form_type_2
        | или просто позвоните на номер
        a.cta-form__phone(href='tel:+74950667989') +7 495 066 79 89
        | и мы развеем все Ваши сомнения