include ../../base/mixins/thumbnail

.slide-2.section
  .container.container_size_1
    .slide-2__header.section__header
      .heading
        span.heading__h Посмотрите, где проходят наши занятия
    .slide-2__container
      .slide-2__slider
        .photo-slider.js-photo-slider
          .photo-slider__list.js-photo-slider__list
            .photo-slider__slide
              .photo-slide.js-popup__gallery
                .photo-slide__col
                  .photo-slide__item.photo-slide__type_1
                    +thumbnail('assets/img/photos/yoga-zhukovka.jpg', 'assets/img/photos/yoga-zhukovka-thumbnail.jpg', 'Йога Жуковка')
                .photo-slide__col
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/yoga-rublevka.jpg', 'assets/img/photos/yoga-rublevka-thumbnail.jpg', 'Йога Рублевка')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/yoga-na-rublevke.jpg', 'assets/img/photos/yoga-na-rublevke-thumbnail.jpg', 'Йога на Рублевке')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/yoga-v-zhukovke.jpg', 'assets/img/photos/yoga-v-zhukovke-thumbnail.jpg', 'Йога в Жуковке')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/yoga-music-stars.jpg', 'assets/img/photos/yoga-music-stars-thumbnail.jpg', 'Йога Music Stars')
            .photo-slider__slide
              .photo-slide.js-popup__gallery
                .photo-slide__col
                  .photo-slide__item.photo-slide__type_1
                    +thumbnail('assets/img/photos/yoga-barvikha.jpg', 'assets/img/photos/yoga-barvikha-thumbnail.jpg', 'Йога Барвиха')
                .photo-slide__col
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/yoga-v-barvikhe.jpg', 'assets/img/photos/yoga-v-barvikhe-thumbnail.jpg', 'Йога в Барвихе')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/elitnaya-yoga.jpg', 'assets/img/photos/elitnaya-yoga-thumbnail.jpg', 'Элетная йога')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/vip-yoga.jpg', 'assets/img/photos/vip-yoga-thumbnail.jpg', 'VIP йога')
                  .photo-slide__item.photo-slide__type_2
                    +thumbnail('assets/img/photos/dorogaya-yoga.jpg', 'assets/img/photos/dorogaya-yoga-thumbnail.jpg', 'Дорогая йога')
          .photo-slider__navs.js-photo-slider__navs
            span.photo-slider__nav.photo-slider__nav_prev.js-photo-slider__nav_prev Предыдущий
            span.photo-slider__nav.photo-slider__nav_next.js-photo-slider__nav_next Следующий
          .photo-slider__dots.js-photo-slider__dots