include ../../base/mixins/photo-card

.slide-3.section
  .container.container_size_1
    .slide-3__header.section__header
      .heading
        span.heading__h Наши занятия
    .slide-3__container
      .slide-3__item
        +photo-card('Для начинающих').photo-card_photo_1 Курс для начинающих – уникальный шанс постичь безграничные возможности собственного тела
      .slide-3__item
        +photo-card('Для продвинутых').photo-card_photo_2 Курс для продвинутых – обретение духовной, психологической и физической гармонии.
      .slide-3__item
        +photo-card('Для фанатов').photo-card_photo_3 Курс для фанатов – преодоление пути от физического здоровья до полного освобождения сознания.